/*
These are just stles I used to simplify working on the outputTest.php
They dont have to be used in the actual design
*/

.pageContent {
    margin-left: 440px;
    width: 1000px;
    height: 750px;
    max-height: 750px;
    padding: 15px 10px;
    overflow: scroll;
    box-shadow: 2px 2px 2px gainsboro;
    background-color: #b1f0b8;
    border-radius: 30px;
}

.argForm {
  display:inline-block;
  float: 50%;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 5%;
}

td {
    border-color:#1f6331;
    border-style:solid;
    border-width:2px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 10px;
    word-break:normal;
    background-color: #c5ebcf;
}

th {
    border-color:#1f6331;
    border-style:solid;
    border-width:2px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    background-color: #a1c4aa;

}

.buttonColumn {

    margin:0 auto;
    padding-left:20px;
}

table input[type="number"] {
    width: 50px;
    margin-right: 5px;
    margin-left: 15%;
    text-align: center;
    position: relative;
}

.inputColumn {
    text-align: left;
    width: 160px;
}

.hide {
    display: none;
}

label {
position: relative;
left: 10%;
color: #B4886B;
font-weight: bold;
display: block;
width: 400px;
float: left;
}

.inputformat {
  width: 100%;
  padding: 4px 30px;
  margin: 2px 0;
  box-sizing: content-box;
  border: none;
  position: relative;
  left: 10%;
  flex-direction: row;
}
.cbformat {
  width: 100%;
  padding: 4px 30px;
  margin: 2px 0;
  box-sizing: content-box;
  border: none;
  position: relative;
  left: 50%;
}
.acceptbtn {
  position: relative;
  left: 10%;
  width: 300px;
  height: 50px;
  font-size: 30px;
}
